.table{
   thead {
      .table-headers{font-family: 'Satisfy', cursive; }
   }
   thead tr, tfoot tr {
      background: @brand-primary;
      color:white;
   }
   tr th:first-child, tr th:nth-child(2){
      //visibility: hidden;
   }
   tr td:first-child, tr td:nth-child(2) {
      //visibility: hidden;
   }
   tr th{text-align:center;}
   .no-satisfy{
      font-family:'arvo';
      font-size: smaller;
   }
}
