// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

//@brand-primary:         #27ae60;
@brand-primary:     #7595BF;
@brand-secondary:   #5B605F;
@brand-third:       #EAF2F8;
@brand-forth:       #A1A194;
@brand-fifth:       #FFFFFA;
@brand-hot:         #FF6600;


// Glyphicons path
// -------------------------
@icon-font-path:        "../vendor/bootstrap/fonts/";
